@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Noto+Sans+KR:wght@100;300;400;500;700;900&family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap");

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

/*-------------------------------------------------------- Background colors*/
.menu-bar {
  background-color: #dce3ed;
}

.footer-bg {
  background-color: #dce3ed;
}

.core-features-bg,
.services-features-bg,
.staircase-title-bg {
  background-color: rgba(203, 211, 223, 0.28);
}

.services-title-bg .package-section-bg, .founders-section-bg,
.staircase-info-bg {
  background-color: rgba(255, 255, 255);
}

.form-bg {
  background-color: rgba(203, 211, 223, 0.05);
  border: 0.5px solid #7a7573;
  margin-top: 5px;
  margin-bottom: 0px;
}

/*-------------------------------------------------------- Font & font styles*/

.menu-bar .logo-style {
  font-size: 40px;
  font-family: "Bebas Neue", cursive;
  color: #433e3a;
  letter-spacing: 1px;
  padding-right: 0;
  margin-right: 0;
}

.menu-item {
  font-family: "Open Sans", sans-serif;
  color: #433e3a;
  font-weight: 600;
  font-size: 20px;
  line-height: 33px;
}

.logo-style span {
  font-style: italic;
  letter-spacing: 0px;
  font-size: 30px;
  color: #433e3a;
}

.statement-section,
.features-title {
  font-family: "Open Sans", sans-serif;
  color: #433e3a;
}

.features-title {
  font-family: "Noto Sans KR", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 35px;
  color: #433e3a;
}

.statement-section h1 {
  font-weight: 600;
  font-size: 38px;
}

.statement-section p {
  font-weight: 400;
  font-size: 24px;
  line-height: 33px;
  padding-top: 20px;
}

.statement-section .schedule-btn {
  font-family: "Nato Sans Kr", sans-serif;
  color: #433e3a;
}

.three-features {
  font-weight: 400;
  font-size: 24px;
  font-family: "Open Sans", sans-serif;
  color: #433e3a;
}

footer p {
  font-size: 12px;
  font-family: "Open Sans", sans-serif;
  color: #433e3a;
}

.media-icons a i {
  color: #433e3a;
}

.staircase-info p,
.three-features p {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
}

.staircase-title h2,
.services-title h2,
.founders-title {
  font-family: "Noto Sans KR", sans-serif;
  font-style: normal;
  font-weight: 400;
  color: #433e3a;
  font-size: 35px;
}

.staircase-title h3,
.services-title h3,
.package-section h2 {
  font-family: "Noto Sans KR", sans-serif;
  font-style: normal;
  font-weight: 300;
  color: #433e3a;
  font-size: 30px;
}

.features-title {
  font-family: "Noto Sans KR", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 35px;
  color: #433e3a;
}

.founder-names,
.three-features h3 {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  color: #433e3a;
}

.founder-details {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  color: #433e3a;
}

.package-section ul li {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  color: #433e3a;
}

.sign-up-text {
  font-family: "Noto Sans KR", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 35px;
  color: #433e3a;
}

.sign-up-text h3 {
  font-weight: 300;
}

/*-------------------------------------------------------- Dividers & icons*/

.standard-divider {
  width: 450px;
  height: 0px;
  margin: 0 auto;
  border: 3px solid rgba(67, 62, 58, 0.75);
}

.boutique-divider {
  width: 557px;
  height: 0px;
  margin: 0 auto;
  border: 3px solid rgba(67, 62, 58, 0.75);
}

.feature-icons {
  color: #433e3a;
  font-size: 50px;
  margin-bottom: 20px;
}

/* Media query to make design responsive on smaller screens */

@media screen and (max-width: 540px) {
  #staircase-divider-sm {
    max-width: 300px;
    border: 2px solid rgba(67, 62, 58, 0.75);
    margin-top: 30px;
    margin-bottom: 30px;
  }

  #package-divider-sm,
  #founders-divider-sm {
    max-width: 300px;
    margin: 0 auto;
    border: 1px solid rgba(67, 62, 58, 0.75);
  }

  #boutique-divider-sm {
    display: none;
  }

  #contact-divider-sm {
    text-align: center;
    max-width: 300px;
    border: 2px solid rgba(67, 62, 58, 0.75);
  }
}

/* End of media query section*/

#package-divider-sm,
#founders-divider-sm,
#staircase-divider-sm {
  margin: 0 auto;
  border: 1px solid rgba(67, 62, 58, 0.75);
}

.contact-divider {
  width: 700px;
  margin-right: 55px;
  border: 2px solid rgba(67, 62, 58, 0.75);
}

/*-------------------------------------------------------- Navbar*/

.menu-bar {
  width: 100%;
  color: #433e3a;
}

.menu-burger-icon {
  border: 0;
}

.navbar-light .navbar-nav .active > .nav-link {
  color: #433e3a;
}

.menu-item-margin {
  margin: 0px 0px 0px 0px;
}

/* Media query to make design responsive on smaller screens */

@media screen and (max-width: 540px) {
  .navbar-nav .nav-link {
    padding-left: 5px;
  }
}

/* End of media query section*/

#menu-hover a:hover {
  color: #7a94bd;
}

#logo-hover:hover {
  color: #7a94bd;
}

/*-------------------------------------------------------- Footer*/

#container {
  min-height: 100%;
  position: relative;
}

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 80px;
  background: #dce3ed;
}

footer p {
  text-align: center;
  margin-bottom: 0;
  padding-bottom: 0;
}

.media-icons {
  margin: 10px 20px 5px 20px;
  letter-spacing: 5px;
  font-size: 23px;
  text-align: center;
}

.media-icons i:hover {
  color: #7a94bd;
}

/*------------------------------------------------------------------------------### index.html ### */

/*-------------------------------------------------------- Hero image section*/

.hero-image {
  background: url("../images/photo-of-a-man-using-laptop-3771790.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  min-height: 775px;
}

.statement-section {
  position: relative;
  align-items: center;
  justify-content: center;
  padding-top: 90px;
  margin-top: 120px;
  margin-left: 100px;
}

/* Media query to make design responsive on smaller screens */

@media screen and (max-width: 720px) {
  .hero-image {
    width: 100%;
  }

  .statement-section {
    position: relative;
    align-items: center;
    justify-content: center;
    padding-top: 90px;
    margin-top: 120px;
    margin-left: 10px;
  }
}

@media screen and (max-width: 540px) {
  .hero-image {
    width: 100%;
    margin: 0 auto;
    background-position-x: 75%;
  }

  .statement-section {
    position: relative;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
    margin-top: 20px;
    margin-left: 10px;
  }

  #btn-sm-screen {
    margin-left: 0px;
    margin-top: 20px;
    background-color: #dce3ed;
    border-color: #dce3ed;
    border-radius: 30px;
  }
}

/* End of media query section*/

/*Button styling, including hover*/
.schedule-btn {
  background-color: #dce3ed;
  border-color: #dce3ed;
  border-radius: 30px;
  margin-left: 150px;
  margin-top: 30px;
}

.schedule-btn-hover:hover {
  background-color: #433e3a;
  border-color: #433e3a;
  color: #dce3ed;
}

/*-------------------------------------------------------- Core features section*/

.features-section {
  position: relative;
  padding-top: 80px;
  padding-bottom: 200px;
}

.features-title {
  position: absolute;
  left: 0;
  right: 0;
  text-align: center;
}

/* Media query to make design responsive on smaller screens */

@media screen and (max-width: 720px) {
  .features-section .standard-divider {
    position: relative;
    margin-top: 150px;
  }
}

@media screen and (max-width: 540px) {
  .features-section {
    padding-top: 25px;
    padding-bottom: 150px;
  }
  .features-section .features-title {
    font-weight: 600;
    margin-top: 20px;
  }

  .features-structure {
    margin-top: 80px;
  }

  .features-title {
    position: absolute;
    left: 0;
    right: 0;
    text-align: center;
    margin-left: 20px;
    margin-right: 20px;
  }
}

/* End of media query section*/

.divider-position {
  position: relative;
  margin-top: 80px;
}

.features-structure {
  padding-top: 25px;
}

.three-features {
  position: relative;
  margin-top: 80px;
  text-align: center;
}

/*------------------------------------------------------------------------------### about.html ### */

/*-------------------------------------------------------- Founders section*/

.founders-section-bg {
  padding-bottom: 50px;
}

.founders-title {
  margin: 0 auto;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 30px;
}

.founder-names {
  padding-top: 20px;
}

.founders-details {
  text-align: center;
  padding-top: 40px;
  margin-left: 15px;
  margin-right: 15px;
}

.founders-details p {
    margin-top: 20px;
}

.founders-photos {
  margin-left: 20px;
  margin-right: 20px;
  padding-top: 0px;
}

.founders-photos .founder-names h3 {
  padding-top: 80px;
}

.founders-photos div {
  display: inline-block;
  background-position: center;
  background-repeat: no-repeat;
  width: 250px;
  height: 250px;
  border-radius: 50%;
  padding-top: 30px;
}

/* Media query to make design responsive on smaller screens */

@media screen and (max-width: 540px) {
  #staircase-title-sm {
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
  }

  .founders-section-bg {
    padding-right: 0px;
    padding-left: 0px;
  }

  #founders-margin-sm {
    padding-right: 0px;
    padding-left: 0px;
    margin-left: 0px;
    margin-right: 0px;
  }

  .founder-names {
    margin-bottom: 0px;
  }

  .founders-photos div div {
    filter: none;
  }
}
/* End of media query section*/

/*Photos individually sized to crop them to the same format*/
#founder-andy {
  background: url("../images/andy.jpg");
  background-size: 490px;
  background-position-x: 45%;
  background-position-y: 60%;
}

#founder-malin {
  background: url("../images/malin.jpg");
  background-size: 250px;
  background-position-x: 45%;
  background-position-y: 30%;
}

#founder-sid {
  background: url("../images/sid.jpg");
  background-size: 290px;
  background-position-x: 40%;
  background-position-y: 20%;
}

/*Hover function for founders photos, courtesy of Salman Abbas' answer on 05/03/17 
on StackOverflow with my own changes added: 
https://stackoverflow.com/questions/609273/convert-an-image-to-grayscale-in-html-css*/

.founders-photos div {
  filter: gray;
  -webkit-filter: grayscale(70%);
  transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -webkit-transition: 0.5s ease-in-out;
}

.founders-photos div:hover {
  -webkit-filter: grayscale(0);
  filter: none;
  transition: 0.2s ease-in-out;
  -moz-transition: 0.2s ease-in-out;
  -webkit-transition: 0.2s ease-in-out;
  text-decoration: underline;
}

/*-------------------------------------------------------- Staircase section*/

.staircase-title {
  text-align: center;
  margin-top: 50px;
  padding-bottom: 50px;
  margin-left: 30px;
  margin-right: 30px;
}

.staircase-title h2 {
  padding-bottom: 30px;
}

.staircase-title h3 {
  padding-top: 30px;
}

.standard-divider .staircase-divider {
  margin-top: 50px;
  margin-bottom: 50px;
}

.staircase-info {
  padding-left: 25px;
  padding-right: 22px;
  padding-bottom: 30px;
  padding-top: 50px;
}

.staircase-photo {
  background: url("../images/staircase.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  padding-top: 0px;
  padding-left: 0px;
  padding-right: 0px;
  margin-top: 0px;
}

.staircase-section {
    padding-bottom: 80px;
}

/* Media query to make design responsive on smaller screens */

@media screen and (max-width: 540px) {
  .staircase-title {
    margin: 30px 10px 30px 10px;
    padding-bottom: 0px;
  }

  .staircase-info {
    text-align: center;
    font-size: 20px;
    padding-bottom: 20px;
  }

  .staircase-photo {
    padding-top: 0px;
    padding-left: 0px;
    padding-right: 0px;
  }
}

@media screen and (max-width: 991px) {
  .staircase-title {
    margin-top: 70px;
    margin-bottom: 70px;
    padding-bottom: 0px;
  }
  .staircase-md {
    min-height: 300px;
  }
}

/* End of media query section*/

/*------------------------------------------------------------------------------### services.html ### */

/*-------------------------------------------------------- Services title section*/

.services-photo {
  background: url("..assets/images/woman-in-white-blazer-holding-tablet-computer-789822.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  min-height: 527px;
}

@media screen and (max-width: 991px) {
  .services-md {
    min-height: 300px;
  }
}

.services-title {
  text-align: center;
  margin-top: 50px;
  padding-bottom: 50px;
  padding-right: 30px;
}

.services-title h2 {
  padding-bottom: 30px;
  margin-left: 15px;
  margin-right: 15px;
}

.services-title h3 {
  padding-top: 30px;
}

.standard-divider .services-divider {
  margin-top: 50px;
  margin-bottom: 50px;
}

/*-------------------------------------------------------- Services features section*/

.three-features-details {
  padding-top: 0px;
  padding-bottom: 150px;
}

/*-------------------------------------------------------- Package section*/

.package-photo {
  background: url("../images/desk_tablet.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  min-height: 543px;
  padding-top: 0px;
  padding-left: 0px;
  padding-right: 0px;
  margin-top: 0px;
}

.package-section {
  margin-top: 50px;
}

.package-section h2 {
  text-align: center;
  margin-bottom: 30px;
}

.package-section ul {
  margin-top: 30px;
}

.package-section i {
  margin-right: 10px;
}

.package-section .package-fee {
  margin-left: 120px;
  padding-top: 20px;
  line-height: 70px;
}

.package-section span {
  font-weight: 600;
}

/*Custom bullet point icons styling courtesy of:
https://hollypryce.com/font-awesome-bullet-points/ */
.package-section ul li {
  list-style-type: none;
  text-align: left;
  padding: 0 10px 0 0;
  line-height: 50px;
}

.package-section a {
  text-align: center;
  align-content: center;
  margin-bottom: 150px;
}

.package-btn {
  background-color: #433e3a;
  border-color: #433e3a;
  border-radius: 30px;
  margin-left: 250px;
  margin-top: 30px;
}

.package-btn-hover:hover {
  background-color: #dce3ed;
  border-color: #dce3ed;
  color: #433e3a;
}

/* Media query to make design responsive on smaller screens */

@media screen and (max-width: 540px) {
  .package-section ul {
    text-align: center;
    padding-left: 5px;
    padding-right: 5px;
  }

  .package-section ul li {
    line-height: 45px;
    margin-left: 20px;
  }

  #package-btn-sm-screen {
    background-color: #433e3a;
    border-color: #433e3a;
    border-radius: 30px;
    margin-left: 100px;
    margin-top: 30px;
    margin-bottom: 50px;
  }

  .services-photo,
  .package-photo {
    min-height: 300px;
  }

  #package-fee-sm {
    text-align: center;
    margin-left: 15px;
    line-height: 50px;
  }
}
/* End of media query section*/

/*------------------------------------------------------------------------------### contact.html ### */

.contact-photo {
  background: url("../images/desk.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  min-height: 950px;
  padding-top: 0px;
  padding-left: 0px;
  padding-right: 0px;
  margin-top: 0px;
}

.sign-up-text {
  position: static;
  margin-left: 700px;
  margin-top: 90px;
}

.sign-up-titles {
  margin-right: 270px;
}

.sign-up-text h2 {
  padding-bottom: 30px;
}

.sign-up-text h3 {
  padding-top: 30px;
  padding-right: 0px;
}

.contact-divider {
  margin-right: 550px;
  width: 420px;
}

.sign-up-btn {
  font-family: "Open Sans", sans-serif;
  color: #433e3a;
  font-size: 20px;
  line-height: 35px;
  padding: 5px 25px 5px 25px;
  background-color: #dce3ed;
  border-color: #dce3ed;
  border-radius: 30px;
  margin-left: 150px;
  margin-top: 20px;
}

/* Contact form */
.form-style {
  padding-top: 20px;
  padding-bottom: 0px;
  margin-left: 0px;
  text-align: center;
  width: 420px;
}

form .sign-up-btn {
  margin-left: 0px;
}

/* Media query to make design responsive on smaller screens */

@media screen and (max-width: 540px) {
  .contact-photo {
    background-position-x: 53%;
  }

  .sign-up-text {
    position: static;
    text-align: center;
    padding-top: 50px;
    margin-left: 20px;
    margin-right: 20px;
  }

  .sign-up-titles {
    margin-right: 30px;
  }

  .form-style {
    width: 320px;
  }
}

@media screen and (max-width: 720px) {
  .sign-up-text {
    position: static;
    text-align: center;
    padding-top: 50px;
    margin-left: 0px;
    margin-right: 0px;
  }
  .sign-up-btn {
    text-align: center;
    margin-left: 0px;
  }
  .contact-divider {
    width: 500px;
  }
  .form-style {
    margin: 0 auto;
  }

  .sign-up-titles {
    margin-right: 0px;
  }
}

@media screen and (max-width: 1300px) {
  .sign-up-text {
    position: static;
    text-align: center;
    padding-top: 50px;
    margin-left: 0px;
    margin-right: 0px;
  }

  .sign-up-btn {
    text-align: center;
    margin-left: 0px;
  }

  .contact-divider {
    width: 500px;
    margin: 0 auto;
  }
  .form-style {
    margin: 0 auto;
  }

  .sign-up-titles {
    margin-right: 0px;
  }
}
/* End of media query section*/

/*Sign-up button hover function*/

.sign-up-btn-hover:hover {
  background-color: #433e3a;
  border-color: #433e3a;
  color: #dce3ed;
}
