@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Noto+Sans+KR:wght@100;300;400;500;700;900&family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');

/*-------------------------------------------------------- Background colors*/
.menu-bar {
     background-color: #DCE3ED;
 }

/*-------------------------------------------------------- Font & font styles*/

.menu-bar .logo-style {
    font-size: 40px;
    font-family: "Bebas Neue", cursive;
    color: #433E3A;
    letter-spacing: 1px;
    padding-right: 0;
    margin-right: 0;
}

.menu-item {
    font-family: "Open Sans", sans-serif;
    color: #433E3A;
    font-weight: 600;
    font-size: 20px;
    line-height: 33px;
}

.logo-style span {
    font-style: italic;
    letter-spacing: 0px;
    font-size: 30px;
    color: #433E3A;
}

.header-section {
    font-family: "Open Sans", sans-serif;
    color: #433E3A;
}

.header-section h1 {
    font-weight: 600;
    font-size: 38px;
}

.header-section p {
    font-weight: 400;
    font-size: 24px;
    line-height: 33px;
    padding-top: 20px;
}

.header-section .schedule-btn {
    font-family: "Nato Sans Kr", sans-serif;
    color: #433E3A;
}

/*-------------------------------------------------------- Navbar*/

.menu-bar {
    width: 100%;
    color: #433E3A;
}

.menu-burger-icon {
    border: 0;
}

.navbar-light .navbar-nav .active>.nav-link {
    color: #433E3A;
}

.menu-item-margin {
    margin: 0px 0px 0px 0px;
}

/*-------------------------------------------------------- Hero image section*/

.hero-image {
    background: url("../images/photo-of-a-man-using-laptop-3771790.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    min-height: 775px; 
}

.header-section {
    position: relative;
    align-items: center;
    justify-content: center;
    padding-top: 90px;
    margin-top: 120px;
    margin-left: 100px;
}

@media screen and (max-width: 540px) {
    .hero-image {
        width: 100%;
        margin: 0 auto;
        background-position-x: 75%;
    }

    .header-section {
    position: relative;
    align-items: center;
    justify-content: center;
    padding-top: 40px;
    margin-top: 80px; 
    margin-left: 10px;
    }

    #btn-sm-screen {
    margin-left: 0;
    background-color: #DCE3ED;
    border-color: #DCE3ED;
    border-radius: 30px;
}
}



/*
      -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;


  display: flex;
  align-items: center;
  justify-content: center;

  position: relative;
} */

.schedule-btn {
    background-color: #DCE3ED;
    border-color: #DCE3ED;
    border-radius: 30px;
    margin-left: 120px;
}
